@import "./Global.css";

.navbar {

    width: 100%;
    height: 100px;
    background: rgb(42, 42, 42);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 5rem;
}

.navbar-left {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left>a {

    height: 65%;
}

.navbar-left>a>img {

    width: 100%;
    height: 100%;
}

.navbar-right {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar-right a {

    text-decoration: none;
    color: #fff;
    transition: all .2s ease;
    font-size: 16px;
}

.navbar-right a:hover {

    color: rgb(255, 150, 101);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(255, 150, 101);
}

.navbar-right button {

    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
}

.navbar-right svg {

    font-size: 40px;
}

@media(max-width: 768px) {

    .navbar {

        padding: 0 2rem;
    }

    .navbar-right a {

        display: none;
    }

    .navbar-right button {

        display: inline-block;
    }
}