html {

  scroll-behavior: smooth;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'DM Sans', sans-serif;
}

button, input, textarea, ::placeholder {

  font-family: inherit;
}